<section id="inscricaoo">
<div class="purpose_block fotos">
<div class="fotos">

	<!-- CONTAINER -->
	<div class="container">

  		<!-- ROW -->
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12" data-appear-top-offset="-200" data-animated="fadeInLeft">
				<h2 class="title">Registro Fotográfico</h2>				
      		<section class="page22">
              <h3>#viverCiência </h3>
              <div class="page_container">
                <div id="plusgallery" data-userid="112829245230688029450" data-type="google"></div> 
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>
                <span class='st_email_large' displayText='Email'></span>
              </div>
          </section>


			</div>
		</div><!-- //ROW -->
	</div><!-- //CONTAINER -->
</div><!-- //MULTI PURPOSE -->
</div><!-- //MULTI FOTOS -->
</section>

