<section id="about">

	<!-- CLEAN CODE -->
	<div class="cleancode_block">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

			<!-- CASTOM TAB -->
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active clearfix" id="tab1">
					<p class="title"><b>Oficinas</b></p>
					<span>Atividades práticas que proporcionam novos conhecimentos e vivências.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab2">
					<p class="title"><b>Minicursos</b></p>
					<span>Espaços onde serão oferecidas atividades de caráter mais teórico, que proporcionam novos conhecimentos e vivências, a partir da experiência de um ou mais proponentes de trabalho.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab3">
					<p class="title"><b>Papo</b> Jovem</p>
					<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento, com relato de seu cotidiano, suas experiências, com o objetivo de despertar no público juvenil o interesse pelo fazer ciência.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab4">
					<p class="title"><b>Feira de</b> Ciências</p>
					<span>Participação de 20 trabalhos científicos de estudantes e professores do ensino básico do Acre.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab5">
					<p class="title"><b>Mostras e </b>Exposições</p>
					<span>Bibliosesc, Planetário SESCIÊNCIA, Mostra Paisagens Cósmicas e atividades de experimentação.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab6">
					<p class="title"><b>Concurso de </b> Blog</p>
					<span>Concurso de Blog: Promoção do concurso de blog institucional nas escolas na perspectiva de fomentar a cultura digital promovendo a integração das tecnologias digitais na vida escolar.</span>
				</div>
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i class="fa fa-cogs fa-3x"></i><span>Oficinas</span></a></li>
				<li><a class="i2" href="#tab2" data-toggle="tab" ><i class="fa fa-book fa-3x"></i><span>Minicursos</span></a></li>
				<li><a class="i3" href="#tab3" data-toggle="tab" ><i class="fa fa-comments fa-3x"></i><span>Papo Jovem</span></a></li>
				<li><a class="i4" href="#tab4" data-toggle="tab" ><i class="fa fa-flask fa-3x"></i><span>Feira de Ciências</span></a></li>
				<li><a class="i5" href="#tab5" data-toggle="tab" ><i class="fa fa-picture-o fa-3x"</class+>></i><span>Mostras e Exposições</span></a></li>
				<li><a class="i6" href="#tab6" data-toggle="tab" ><i class="fa fa-book fa-3x"></i><span>Blog</span></a></li>
			</ul><!-- CASTOM TAB -->
		</div><!-- //CONTAINER -->
	</div><!-- //CLEAN CODE -->
	<!-- MULTI PURPOSE -->
	<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style=" top: 2000px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Inscrições<b></b></h2>
					<p>Um texto pequeno texto que explique como se inscrever. Secretaria de Estado de Educação e Esporte tem procurado desenvolver uma série de ações que possam garantir a qualidade do aprendizado de nossos estudantes, a começar pelo investimento no educador, priorizando as formações continuadas de professores, com foco no letramento científico, na iniciação científica, no planejamento e no trabalho com as orientações curriculares, levando em conta as matrizes do SAEB, SEAPE, ENEM e PISA,nos quais o acúmulo de conhecimento não significa aprendizagem efetiva. <br>
					</p>
					<a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Apresentações">Enviar Projetos</span></a>
					<a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Mostra de Trabalhos">Enviar Trabalhos</span></a>
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
	
</section>