<section id="about">

	<!-- CLEAN CODE -->
	<div class="cleancode_block">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

			<!-- CASTOM TAB -->
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active clearfix" id="tab1">
					<p class="title"><b>Oficinas</b></p>
					<span>Atividades práticas que proporcionam a produção coletiva.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab2">
					<p class="title"><b>Minicursos</b></p>
					<span>Atividades de caráter mais teórico que proporcionam novos conhecimentos e vivências.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab3">
					<p class="title"><b>Papo</b> Jovem</p>
					<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab4">
					<p class="title"><b>Feira de</b> Ciências</p>
					<span>Exposição de trabalhos científicos produzidos por alunos e professores da educação básica.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab5">
					<p class="title"><b>Mostra </b>Científica</p>
					<span>Espaço para exposição, apresentação e discussão de trabalhos e projetos técnico-científicos</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab6">
					<p class="title">Blog</p>
					<span>Incentivar o uso das tecnologias digitais no dia-a-dia da escola.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab7">
					<p class="title">Ciência <b> Divertida</b></p>
					<span>Atividade de jogos interativos e desafiadores que envolvem conceitos científicos.</span>
				</div>	
				
				<div class="tab-pane fade clearfix" id="tab8">
					<p class="title">Expedições <b>Científicas</b></p> 
					<span>Visita aos espaços de produção científica da Ufac.</span>	
				</div>	
				
				<div class="tab-pane fade clearfix" id="tab9">
					<p class="title"><b>Cineciência</b></p> 
					<span>Apresentação de filmes e documentários com foco na Ciência..
					</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab10">
					<p class="title">Palco <b>Cultural</b></p> 
					<span>Atividades lúdicas para entretenimento do público jovem e infantil.</span>
				</div>
				

				
				<div class="tab-pane fade clearfix" id="tab11">
					<p class="title">Apresentação de<b> Pôsteres</b></p>
					<span>Atividade de integração e exposição de trabalhos oriundos das boas práticas educacionais.</span>
				</div>
				
				<div class="tab-pane fade clearfix" id="tab12">
					<p class="title">Palestras</p>
					<span>Oportunidade para reflexão sobre assuntos relacionados à educação, ciência e tecnologia.</span>
				</div>
				
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i class="fa fa-cogs fa-3x"></i><span>Oficinas</span></a></li>
				<li><a class="i2" href="#tab2" data-toggle="tab" ><i class="fa fa-pencil fa-3x"></i><span>Minicursos</span></a></li>
				<li><a class="i3" href="#tab3" data-toggle="tab" ><i class="fa fa-comments fa-3x"></i><span>Papo Jovem</span></a></li>
				<li><a class="i4" href="#tab4" data-toggle="tab" ><i class="fa fa-flask fa-3x"></i><span>Feira de Ciências</span></a></li>
				<li><a class="i5" href="#tab5" data-toggle="tab" ><i class="fa fa-picture-o fa-3x"</class+>></i><span>Mostras e Exposições</span></a></li>
				<li><a class="i6" href="#tab6" data-toggle="tab" ><i class="fa fa-book fa-3x"></i><span>Blog</span></a></li>
				<li><a class="i7" href="#tab7" data-toggle="tab" ><i class="fa fa fa-tags fa-3x"></i><span>Ciência Divertida</span></a></li>
				<li><a class="i8" href="#tab8" data-toggle="tab" ><i class="fa fa-rocket fa-3x"></i><span>Expedições Científicas</span></a></li>
				<li><a class="i8" href="#tab9" data-toggle="tab" ><i class="fa fa-film fa-3x"></i><span>Cineciência</span></a></li>
				<li><a class="i8" href="#tab10" data-toggle="tab" ><i class="fa fa-microphone fa-3x"></i><span>Palco Cultural</span></a></li>
				<li><a class="i8" href="#tab11" data-toggle="tab" ><i class="fa fa-desktop fa-3x"></i><span>Apresentação de Pôsteres</span></a></li>
				<li><a class="i8" href="#tab12" data-toggle="tab" ><i class="fa fa-users fa-3x"></i><span>Palestras</span></a></li>
			</ul><!-- CASTOM TAB -->
		</div><!-- //CONTAINER -->
	</div><!-- //CLEAN CODE -->
	<!-- MULTI PURPOSE -->
</section>