<section id="about">

	<!-- CLEAN CODE -->
	<div class="cleancode_block">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

			<!-- CASTOM TAB -->
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active clearfix" id="tab1">
					<p class="title"><b>Oficinas</b></p>
					<span>Atividades práticas que proporcionam a produção coletiva, com a finalidade de promover o aprendizado compartilhado.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab2">
					<p class="title"><b>Minicursos</b></p>
					<span>Atividades de caráter mais teórico, que proporcionam novos conhecimentos e vivências, a partir da experiência de um ou mais proponentes de trabalho.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab3">
					<p class="title"><b>Papo</b> Jovem</p>
					<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento, com relato de seu cotidiano, suas experiências, com o objetivo de despertar no público juvenil o interesse pelo fazer ciência.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab4">
					<p class="title"><b>Feira de</b> Ciências</p>
					<span>Participação de 25 trabalhos científicos de estudantes e professores do ensino básico do Acre.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab5">
					<p class="title"><b>Mostra </b>Científica</p>
					<span>Espaço para exposição, apresentação e discussão de trabalhos e projetos técnico-científicos</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab6">
					<p class="title">Blog</p>
					<span>Concurso de Blog Educacionais - Fomentar a cultura digital promovendo a integração das tecnologias digitais na vida escolar.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab7">
					<p class="title">Ciência <b> Divertida</b></p>
					<span>: Atividade de jogos interativos e desafiadores que envolvem conceitos científicos.</span>
				</div>	
				<div class="tab-pane fade clearfix" id="tab8">
					<p class="title">Expedições <b>Científicas</b></p> 
					<span>Visita aos laboratórios da Ufac, ao Parque Zoobotânico e ao Museu de Paleontologia.</span>
					
				</div>	<div class="tab-pane fade clearfix" id="tab9">
					<p class="title">Cine <b>Ciência</b></p> 
					<span>O cinema, a ciência e o cientista contribuindo para constituição de uma percepção social da Ciência.
					</span>
				</div>
				
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i class="fa fa-cogs fa-3x"></i><span>Oficinas</span></a></li>
				<li><a class="i2" href="#tab2" data-toggle="tab" ><i class="fa fa-pencil fa-3x"></i><span>Minicursos</span></a></li>
				<li><a class="i3" href="#tab3" data-toggle="tab" ><i class="fa fa-comments fa-3x"></i><span>Papo Jovem</span></a></li>
				<li><a class="i4" href="#tab4" data-toggle="tab" ><i class="fa fa-flask fa-3x"></i><span>Feira de Ciências</span></a></li>
				<li><a class="i5" href="#tab5" data-toggle="tab" ><i class="fa fa-picture-o fa-3x"</class+>></i><span>Mostras e Exposições</span></a></li>
				<li><a class="i6" href="#tab6" data-toggle="tab" ><i class="fa fa-book fa-3x"></i><span>Blog</span></a></li>
				<li><a class="i7" href="#tab7" data-toggle="tab" ><i class="fa fa fa-users fa-3x"></i><span>Ciência Divertida</span></a></li>
				<li><a class="i8" href="#tab8" data-toggle="tab" ><i class="fa fa-rocket fa-3x"></i><span>Expedições Científicas</span></a></li>
				<li><a class="i8" href="#tab9" data-toggle="tab" ><i class="fa fa-film fa-3x"></i><span>Cine Ciência</span></a></li>
			</ul><!-- CASTOM TAB -->
		</div><!-- //CONTAINER -->
	</div><!-- //CLEAN CODE -->
	<!-- MULTI PURPOSE -->
</section>