<section id="about">

	<!-- SERVICES -->
	<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">

		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Oficinas</b></p>
						<span>Atividades práticas que proporcionam novos conhecimentos e vivências.</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Minicursos</b></p>
						<span>A Sociedade Brasileira para o Progresso da Ciência – SBPC, a Universidade Federal do Acre.</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Papo</b> Jovem</p>
						<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento, com relato de seu cotidiano, suas experiências.</span>
					</a>	
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Feira de</b> Ciências</p>
						<span>Participação de 20 trabalhos científicos de estudantes e professores do ensino básico do Acre.</span>
					</a>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //SERVICES -->

	<!-- CLEAN CODE -->
	<div class="cleancode_block">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

			<!-- CASTOM TAB -->
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active clearfix" id="tab1">
					<p class="title"><b>Oficinas</b></p>
					<span>Atividades práticas que proporcionam novos conhecimentos e vivências.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab2">
					<p class="title"><b>Minicursos</b></p>
					<span>Espaços onde serão oferecidas atividades de caráter mais teórico, que proporcionam novos conhecimentos e vivências, a partir da experiência de um ou mais proponentes de trabalho.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab3">
					<p class="title"><b>Papo</b> Jovem</p>
					<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento, com relato de seu cotidiano, suas experiências, com o objetivo de despertar no público juvenil o interesse pelo fazer ciência.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab4">
					<p class="title"><b>Feira de</b> Ciências</p>
					<span>Participação de 20 trabalhos científicos de estudantes e professores do ensino básico do Acre.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab5">
					<p class="title"><b>Mostras e </b>Exposições</p>
					<span>Bibliosesc, Planetário SESCIÊNCIA, Mostra Paisagens Cósmicas e atividades de experimentação.</span>
				</div>
				<div class="tab-pane fade clearfix" id="tab6">
					<p class="title"><b>Palco</b> Cultural</p>
					<span>Atividades lúdicas para entretenimento do público jovem e infantil.</span>
				</div>
			</div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i class="fa fa-cogs fa-3x"></i><span>Oficinas</span></a></li>
				<li><a class="i2" href="#tab2" data-toggle="tab" ><i class="fa fa-book fa-3x"></i><span>Minicursos</span></a></li>
				<li><a class="i3" href="#tab3" data-toggle="tab" ><i class="fa fa-comments fa-3x"></i><span>Papo Jovem</span></a></li>
				<li><a class="i4" href="#tab4" data-toggle="tab" ><i class="fa fa-flask fa-3x"></i><span>Feira de Ciências</span></a></li>
				<li><a class="i5" href="#tab5" data-toggle="tab" ><i class="fa fa-picture-o fa-3x"</class+>></i><span>Mostras e Exposições</span></a></li>
				<li><a class="i6" href="#tab6" data-toggle="tab" ><i class="fa fa-microphone fa-3x"></i><span>Palco Cultural</span></a></li>
			</ul><!-- CASTOM TAB -->
		</div><!-- //CONTAINER -->
	</div><!-- //CLEAN CODE -->

	<!-- MULTI PURPOSE -->
	<div class="purpose_block">

		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Viver <b>Ciência</b></h2>
					<p>A Secretaria de Estado de Educação e Esporte, a Secretaria de Estado de Ciência e Tecnologia, a Universidade Federal do Acre e todos os parceiros apresentam a ViverCiência 2015 com uma programação que aposta na força jovem para a garantia de um futuro melhor a partir da pesquisa, da troca de experiências, da criatividade e da inovação.</p>
					</p>O evento é uma oportunidade para troca de conhecimentos, estímulo à criatividade, valorização da experimentação, da ação investigativa, da atividade inovadora, de trabalhos interdisciplinares e da promoção da iniciação científica
					</p>
					<!-- <a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Yes I want it">Byu This theme</span></a> -->
					<!-- <a class="btn" href="javascript:void(0);" >View more templates</a> -->
				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
</section>