<section id="atividades">
	<!-- SERVICES -->
	<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">

		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Oficinas</b></p>
						<span>Atividades práticas que proporcionam novos conhecimentos e vivências.</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Minicursos</b></p>
						<span>A Sociedade Brasileira para o Progresso da Ciência – SBPC, a Universidade Federal do Acre.</span>
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Papo</b> Jovem</p>
						<span>Conversa informal com jovens que são destaque em diferentes áreas do conhecimento, com relato de seu cotidiano, suas experiências.</span>
					</a>	
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					<a class="services_item" href="javascript:void(0);" >
						<p><b>Feira de</b> Ciências</p>
						<span>Participação de 20 trabalhos científicos de estudantes e professores do ensino básico do Acre.</span>
					</a>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //SERVICES -->
	


	<!-- MULTI PURPOSE -->
	<div class="atividades"> 

		<!-- CONTAINER -->
		<div class="container logotipo">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<%= image_tag ("logotipo-01.png"), class: "ipad_img1" %>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInRight">
					<h2 class="title">Viver <b>Ciência</b></h2>
					<p>A Secretaria de Estado de Educação e Esporte, a Secretaria de Estado de Ciência e Tecnologia, a Universidade Federal do Acre e todos os parceiros apresentam a ViverCiência 2015 com uma programação que aposta na força jovem para a garantia de um futuro melhor a partir da pesquisa, da troca de experiências, da criatividade e da inovação.</p>
					<p>O evento é uma oportunidade para troca de conhecimentos, estímulo à criatividade, valorização da experimentação, da ação investigativa, da atividade inovadora, de trabalhos interdisciplinares e da promoção da iniciação científica
					</p> 
				<!-- <a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Yes I want it">Byu This theme</span></a> -->
				<!-- <a class="btn" href="javascript:void(0);" >View more templates</a> -->
				</div> 
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->

			

	</div><!-- //MULTI PURPOSE -->
	
</section>