<section id="atividades">
	<!-- SERVICES -->
	<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">

		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Como participar?</b></p>
						<span>Para participar ativamente, as escolas podem inscrever seus projetos educacionais ou propostas de oficinas até 30 de julho.</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Quem pode se inscrever?</b></p>
						<span>Professores da educação básica, alunos da rede pública ou privada e, acadêmicos dos cursos de licenciaturas.</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Qual período de inscrição e divulgação dos classificados?</b></p>
						<span>O período de inscrição para apresentação de trabalhos será de 01 de junho a 30 de julho. Os trabalhos classificados serão divulgados neste site até 08 de setembro.</span>
					</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Como se  inscrever?</b></p>
						<span>As escolas podem baixar o regulamento neste site e se inscrever na modalidade de oficinas, projetos educacionais e concurso de blog.
						</span>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //SERVICES -->
	


	<!-- MULTI PURPOSE -->
	<div class="atividades"> 

		<!-- CONTAINER -->
		<div class="container logotipo">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<%= image_tag ("logotipo-01.png"), class: "ipad_img1" %>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInRight">
					<h2 class="title">Viver <b>Ciência</b></h2>
					<p>A Secretaria de Estado de Educação e Esporte, a Secretaria de Estado de Ciência e Tecnologia, a Universidade Federal do Acre e todos os parceiros apresentam a ViverCiência 2015 com uma programação que apostam na força jovem para a garantia de um futuro melhor, sendo uma oportunidade para troca de conhecimentos, estímulo à criatividade, valorização da experimentação, da ação investigativa, da atividade inovadora, de trabalhos interdisciplinares e da promoção da iniciação científica.
					</p> 
				<!-- <a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Yes I want it">Byu This theme</span></a> -->
				<!-- <a class="btn" href="javascript:void(0);" >View more templates</a> -->
				</div> 
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->

			

	</div><!-- //MULTI PURPOSE -->
	
</section>