<section id="atividades">
	<!-- SERVICES -->
	<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">

		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Como participar?</b></p>
						<span>Para participar ativamente, as escolas podem inscrever seus projetos educacionais ou propostas de oficinas no período de 01/06 a 30/07.</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Quem pode se inscrever?</b></p>
						<span>Professores da educação básica, alunos da rede pública e/ou privada e acadêmicos dos cursos de licenciatura.</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Como se  inscrever?</b></p>
						<span>
							<ul>
								<li>Leia o regulamento; </li>
								<li>Preencha a ficha de inscrição;</li>
								<li>Marcar a opção de aceite;</li>
								<li>Clicar no ícone enviar. </li>
							</ul>
						</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
					
						<p><b>Qual a data de divulgação dos classificados?</b></p>
						<span>Os trabalhos classificados serão divulgados neste site até 21/09/2015.</span>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //SERVICES -->
	


	<!-- MULTI PURPOSE -->
	<div class="atividades"> 

		<!-- CONTAINER -->
		<div class="container logotipo">

			<!-- ROW -->
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<%= image_tag ("logotipo-01.png"), class: "ipad_img1" %>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInRight">
					<h2 class="title">Viver <b>Ciência</b></h2>
					<p>A Secretaria de Estado de Educação e Esporte, Secretaria de Estado de Ciência e Tecnologia,  Universidade Federal do Acre e todos os parceiros apresentam a Mostra Viver Ciência, com uma programação que aposta na força jovem para a garantia de um futuro melhor. Será uma oportunidade para troca de conhecimentos, estímulo à criatividade, valorização da experimentação, da ação investigativa, da atividade inovadora, de trabalhos interdisciplinares e da promoção da iniciação científica.
					</p> 
				<!-- <a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Yes I want it">Byu This theme</span></a> -->
				<!-- <a class="btn" href="javascript:void(0);" >View more templates</a> -->
				</div> 
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->

			

	</div><!-- //MULTI PURPOSE -->
	
</section>