<section id="home" class="padbot0">
	<!-- TOP SLIDER -->
	<div class="flexslider top_slider">
		<ul class="slides">
			<li class="slide1">
				<div class="flex_caption1">
					<p class="title1 captionDelay2 FromTop separador ">Viver</p>
					<p class="title2 captionDelay4 FromTop">Ciência</p>
					<p class="title3 captionDelay6 FromTop"></p>
					<p class="title4 captionDelay7 FromBottom">Mostra Acreana de Educação, Ciência, Tecnologia e Inovação</p>
				</div>
				<!-- <a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a> -->
				<li class="slide2">
					<div class="flex_caption1">
						<p class="title1 captionDelay6 FromLeft separador">Venha</p>
						<p class="title2 captionDelay4 FromLeft">Participar </p>
						<p class="title4 captionDelay7 FromLeft">As escolas poderão apresentar trabalhos de pesquisa, atividades culturais e propostas de oficinas, em quaisquer das áreas do conhecimento, desenvolvidos pelos professores e alunos.</p>
					</div>
					<!-- <a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a> -->
				</li>
				<li class="slide3">
					<div class="flex_caption1">
						<p class="title1 captionDelay1 FromBottom separador">21 e 22</p>
						<p class="title2 captionDelay2 FromBottom ">de Outubro </p>
						<!-- <p class="title3 captionDelay3 FromBottom ">  </p> -->
						<p class="title4 captionDelay5 FromBottom">Da Mostra Acreana Viver Ciência 2015, no Campus da Universidade Federal do Acre.</p>
					</div>
					<!-- <a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a> -->
				</li>
			</ul>

			<!-- VIDEO BACKGROUND -->
			<a name="P2" class="player" id="P2" data-property="{videoURL:'FG0fTKAqZ5g',containment:'.top_slider',autoPlay:true, mute:true, startAt:10, opacity:1}"></a>
			<!-- //VIDEO BACKGROUND -->
		</div><!-- //TOP SLIDER -->
	</section>