<section id="inscricao">

<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style="bottom: 117px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-6 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Inscrições<b></b></h2>
					<p>Participe deste evento inscrevendo seu projeto, proposta de oficinas ou seu blog. Esta é uma oportunidade para troca de conhecimentos e de proporcionar espaços de expressão e de apreensão do saber fazer Ciência. Juntos podemos fazer a diferença! 
					</p>
					<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6"> 
							<%= link_to 'Regulamento - Oficinas', "assets/doc/regulamento_oficinas.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
							<%= link_to 'Regulamento - Feira', "assets/doc/regulamento_feira_de_ciencias.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>	
							 <%= link_to 'Regul. - Concurso de Blog', "assets/doc/Regulamento_Concurso_de_Blog_Educacional.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>	
					</div>
						
						<div class="col-lg-6 col-md-6 col-sm-6"> 
							<a class="btn btn-active" href="https://docs.google.com/forms/d/1I_NonztGiyecosV7nxLiZHffdSJYZqwIrWivPp8NSP8/viewform" target="_blank" ><span data-hover="Leia o Regulamento">Oficinas</span></a>
							<a class="btn btn-active" href="https://docs.google.com/forms/d/1QiknjSLyk5Eh78SRKgFTTy0Bf9HtjGJCzrr-u38UOrI/viewform" target="_blank" ><span data-hover="Leia o Regulamento">Feira de Ciência</span></a>
							<a class="btn btn-active" href="https://docs.google.com/forms/d/122eIN0wPW2XM918_-qVB374Mt4CIUj25oioQqvr12do/viewform" target="_blank" ><span data-hover="Leia o Regulamento">Concurso de Blog</span></a>
						</div>

							
					</div>
					
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
	
</section>