<section id="inscricao">
<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style="bottom: 269px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-6 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Programação</h2>
					<!-- <p><b>Se você perdeu o prazo, poderá se inscrever na nossa próxima edição!</b> -->
					</p>
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
					<div class="col-lg-12 col-md-12 col-sm-12"> 
					<p>
						A Secretaria de Estado de Educação e Esporte - SEE, A
						Secretaria de Ciência e Tecnologia - SECT, a Universidade
						Federal do Acre - Ufac e todos os parceiros apresentam a
						Mostra Acreana de Educação, Ciência, Tecnologia e Inova-
						ção - Viver Ciência. </br> 

						Apostando na força jovem para a garantia de um futuro
						melhor, o evento será uma oportunidade para troca de conhecimentos,
						estímulo à criatividade, valorização da experimentação,
						da ação investigativa, da atividade inovadora,
						de trabalhos interdisciplinares e da promoção da iniciação
						científica.</br>
					   
					     A Mostra Viver Ciência traz uma programação diversificada,
						com atividades apresentadas de forma lúdica e criativa.
						Oficinas, minicursos, palestras, contação de histórias, exposição de trabalhos científicos, apresentações culturais e
						sessões no planetário serão algumas das atividades planejadas
						que, certamente, irão despertar o interesse do público
						infanto-juvenil e adulto pela ciência e tecnologia.
					</p>
 		 								
 							<%= link_to 'Cronograma', "assets/doc/Cronograma.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
 							<%= link_to 'Caderno de Programação', "assets/doc/Caderno-de-Programacao-online.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
	
					</div>

				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
</section>

