<section id="inscricao">

<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style=" top: 2000px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Inscrições<b></b></h2>
					<p>Participe deste evento inscrevendo seu projeto, proposta de oficinas ou seu blog. Esta é uma oportunidade para troca de conhecimentos e de proporcionar espaços de expressão e de apreensão do saber fazer Ciência. Juntos podemos fazer a diferença! 
					</p>
					<a class="btn btn-active" href="https://docs.google.com/forms/d/1I_NonztGiyecosV7nxLiZHffdSJYZqwIrWivPp8NSP8/viewform" ><span data-hover="Leia o Regulamento">Ficha das Oficinas</span></a>
					<a class="btn btn-active" href="https://docs.google.com/forms/d/1QiknjSLyk5Eh78SRKgFTTy0Bf9HtjGJCzrr-u38UOrI/viewform" ><span data-hover="Apresentações">Feira de Ciência</span></a>
					<a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Mostra de Trabalhos">Concurso de Blog</span></a>
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
	
</section>