<section id="inscricao">
<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style="bottom: 269px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-6 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Inscrições <b>Encerradas</b></h2>
					<p><b>Se você perdeu o prazo, poderá se inscrever na nossa próxima edição!</b>
					</p>
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
</section>