/* __________ Multi Purpose __________ */

.atividades {
  h2{
    color:rgb(180, 204, 28);
    b{
      color:#69C053;
    }
  }
  padding: 4px 0 0;
  background-color: #519021;
  background-image: url("atividades.png");
  background-size: cover;

  .title{
	  margin: 0 0 17px;
	  font-weight: 100;
	  line-height: 80px;
	  font-size: 80px;
  }
  .logotipo{
    p {
      margin-bottom: 26px;
      font-weight: 300;
      line-height: 19px;
      font-size: 17px;
      color: #fff;
    }
  }
  .btn {
    margin-top: 30px;
    margin-right: 16px;
  }
  .btn-active {
    overflow: hidden;
    span:before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      line-height: 20px;
      font-size: 13px;
      color: #1C1C1C;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
    }
    &:hover span:before {
      color: #fff;
    }
    span {
      position: relative;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
    }
    &:hover span, &:focus span {
      color: #1c1c1c;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  .ipad_img1 {
    margin-top: -116px;
  }
}
