	<header>
		
		<!-- MENU BLOCK -->
		<div class="menu_block">

			<!-- CONTAINER -->
			<div class="container clearfix">
				
				<!-- LOGO -->
				<div class="logo pull-left">
					<%= link_to "<span class='b4'>EDUCAÇÃO</span>".html_safe, root_path %>
				</div><!-- //LOGO -->

				<!-- SEARCH FORM -->
				<!-- <div id="search-form" class="pull-right">
					<form method="get" action="#">
						<input type="text" name="Search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
					</form>
				</div> -->
				<!-- SEARCH FORM -->
				
				<!-- MENU -->
				<div class="pull-right">
					<nav class="navmenu center">
						<ul>
							<li class="first active scroll_btn"><a href="#home" >Início</a></li>
							<li class="scroll_btn"><a href="#atividades" >Sobre</a></li>
							<li class="scroll_btn"><a href="#about" >Atividades</a></li>
							<li class="scroll_btn"><a href="#projects" >Projetos</a></li>
							
							<li class="scroll_btn"><a href="#team" >Atividades</a></li>
							<!-- <li class="scroll_btn"><a href="#news" >Notícias</a></li> -->
							<!-- <li class="scroll_btn last"><a href="#contacts" >Contatos</a></li> -->
							<!-- <li class="sub-menu">
								<a href="javascript:void(0);" >Pages</a>
								<ul>
									<li><a href="blog.html" >Blog</a></li>
									<li><a href="blog-post.html" >Blog Post</a></li>
									<li><a href="portfolio-post.html" >Portfolio Single Work</a></li>
								</ul>
							</li> -->
						</ul>
					</nav>
				</div><!-- //MENU -->
			</div><!-- //MENU BLOCK -->
		</div><!-- //CONTAINER -->
	</header>